/*:root {*/
/*  --main-header-text-color: rgb(119, 119, 123);*/
/*  --border-color: rgb(236, 236, 236);*/
/*  --shadow-color: rgb(236, 236, 236);*/
/*  --table-header-text-color: rgb(119, 119, 119);*/
/*  --item-text-color: rgb(91, 91, 95);*/
/*  --edit-button-background-color: rgb(244, 244, 244);*/
/*  --summary-header-background-color: rgb(245, 245, 245);*/
/*  --summary-costs-background-color: rgb(251, 251, 251);*/
/*}*/
$main-header-text-color: rgb(119, 119, 123);
$border-color: rgb(236, 236, 236);
$shadow-color: rgb(236, 236, 236);
$table-header-text-color: rgb(119, 119, 119);
$item-text-color: rgb(91, 91, 95);
$edit-button-background-color: rgb(244, 244, 244);
$summary-header-background-color: rgb(245, 245, 245);
$summary-costs-background-color: rgb(251, 251, 251);

.btn-action {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1em;
}

.btn-action--bold {
  font-weight: bold;
}

.btn-invisible {
  outline: none;
  background: none;
  border: none;
}

.btn-edit {
  color: #000000;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  border: 1px solid $border-color;
  background-color: $edit-button-background-color;
  outline: none;
}